* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}



.modalWin_cross:hover {
  box-shadow: 0 0 2px 2px rgb(248, 6, 6);
  background-color: rgb(248, 6, 6);
}

.modalWrap {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.822);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.button {
  margin-top: 130px;
  padding: 10px;
}

.crossRed {
  font-size: 10px;
padding: 2px;
}
.hide{
  display: none;
}
h1{
  text-align: center;
  position: absolute;
  top: 40px;
}